<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="testProvider" type="zh.fang.stu.configuration.MyConfigSectionGroup, zh.fang.stu.configuration">
      <section name="testItems" type="zh.fang.stu.configuration.MyConfigSection, zh.fang.stu.configuration" requirePermission="false" />
    </sectionGroup>
    
    <!-- Security provider configuration -->
    <section name="securityProvider" type="zh.fang.stu.configuration.SecurityProviderSection, zh.fang.stu.configuration"/>
  </configSections>

  <securityProvider defaultProviderName="anonymousProvider">
    <provider name="anonymousProvider" type="anonymousProviderType" />
    <provider name="httpFilterProvider" type="httpFilterProviderType">
      <filters>
        <clear />
        <add type="filter1" />
        <add type="filter2" />
        <add type="filter3" />
      </filters>
    </provider>
  </securityProvider>

  <testProvider factory="configurationTestName" defaultProvider="configurationTestType">
    <testItems name="testItemsName" type="testItemsType">
      <items>
        <item name="itemName" type="itemType" />
      </items>
    </testItems>
  </testProvider>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>