<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="exampleSection" type="zh.fang.stu.configuration.SectionHandle, zh.fang.stu.configuration" requirePermission="false" />
  </configSections>

  <exampleSection>
    <valueElement value="valueElement" />
    <textElement>textElement</textElement>
    <cdataElement><![CDATA[cdataElement]]></cdataElement>
    <errors>
      <add code="111" msg="error code is 111 ." />
    </errors>
  </exampleSection>
  
</configuration>