<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <pie>
    <add name="" id="1" />
    <add name="" id="2" />
    <add name="" id="3" />
  </pie>

  <mom>
    <item name="itemname">
      <add name="" id="100" />
      <add name="" id="101" />
      <add name="" id="102" />
    </item>
  </mom>
</configuration>