
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Callback</title>
</head>
<body>
    <h1>this is the default html page from client</h1>
    <span>@ViewBag.Url</span>
</body>
</html>
